body {
	background-image: url("kraken.jpg");
}

h1 {
	text-shadow: 4px 4px 2px rgb(0,255,255);
	color: whitesmoke;
	font-size: 55px;
}

td {
	border: 1px solid black;/* Make cells a bit taller */
	color: white;
	background-color : black;
}

Th {
	border-spacing: 20px 2px;
	background-color: black;
	color: aliceblue;
}


