h1 {
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

td {
	border: 1px solid black;
	color: white;
	background-color : black;
}

Th {
	border-spacing: 20px 2px;
	background-color: antiquewhite;
}


